.chart-col {
  padding: 0 12px;
  margin-bottom: 24px;
}

.order-total-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-total-text {
  margin-bottom: 0px;
}

.dashboard .ant-card-body {
  padding: 5px 20px;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dashboard .ant-table-small {
  border: 0px;
}
