header {
  position: absolute;
  top: 0;
}

section {
  padding: 50px 0;
  background-color: #F3F5FB;
  text-align: center;
}

#logo {
  height: 60px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
