@import '~antd/dist/antd.css';
@import '~ant-design-pro/dist/ant-design-pro.css';
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

.App {
  text-align: center;
}

.text-secondary {
  color: rgba(0,0,0,.45);
}

.ant-table-row:hover {
  cursor: pointer;
}
