@import '~antd/dist/antd.css';
@import '~ant-design-pro/dist/ant-design-pro.css';

.App {
  text-align: center;
}

.text-secondary {
  color: rgba(0,0,0,.45);
}

.ant-table-row:hover {
  cursor: pointer;
}

.page-container {
  background: #ffffff;
  padding: 24px;
  min-height: 360px;
}
